@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;800&family=Poppins:wght@400;700&display=swap");

:root {
  --gold: #f9cc1b;
  --blue: #5c6ee2;
  --brown: #2B2B28;
  --yellow: #E3B04B;
  --brown-light: #645b4d;
  --gray: #575555;
  --box-shadow: 0 0.5rem 1.5rem #0000001a; 
}

.warna-biru {
  color: #5c6ee2;
}
.warna-gold {
  color: #f9cc1b;
}

/* w-5 h-5 sm:h-6 sm:w-6 */

.bgr-biru {
  background-color: #5c6ee2;
}
.bgr-gold {
  background-color: #f9cc1b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 5.5rem;
}

section {
  padding: 2rem 6%;
}

header {
  font-family: "Poppins", sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #eaeaea;
  padding: 1.4rem 7%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  font-weight: 700;
  z-index: 99;
}

header .logo {
  font-size: 2rem;
}

header .logo h3 {
  font-size: 2rem;
  color: var(--yellow);
}


header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: var(--brown);
}

header .navbar a.active,
header .navbar a:hover {
  color: var(--brown); 
  background: var(--yellow);
}

.home {
  width: 100%;
  background-image: linear-gradient(rgba(219, 219, 219, 0.795), rgb(255, 255, 255)), url(../gambar/bg/bg4.jpg);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .container .wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  padding-top: 9rem;
  justify-content: space-between;
}

.home .container .wrapper .content {
  flex: 1 11 45rem;
}

.home .container .wrapper .image {
  flex: 1 11 35rem;
}

.home .container .wrapper .image img {
  width: 100%;
  animation: phone 3.5s infinite linear;
}

@keyframes phone {
  0% {
    transform: translatey(0);
  }
  50% {
    transform: translateY(5vh);
  }
  0% {
    transform: translatey(0);
  }
}

.home .container .wrapper .content span {
  color: var(--yellow);
  font-size: 3.5rem;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
}

.home .container .wrapper .content h3 {
  color: var(--brown);
  font-size: 6rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.home .container .wrapper .content p {
  color: var(--light-color);
  font-size: 2rem;
  padding: 0.5rem 0;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 1em;
  color: var(--gray);
}

.home .container .wrapper .content a {
  color: #fff;
  font-size: 2rem;
  font-family: "Poppins", sans-serif;
  background: var(--blue);
  padding: 0.5rem 1.5rem;
  border-radius: 1.3rem;
  font-weight: 700;
}

.uang {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 3rem;
}
.uang img {
  width: 50px;
  animation: uang 7s linear infinite;
}

.uang img:nth-child(1) {
  animation-delay: 2s;
  z-index: 1;
}
.uang img:nth-child(2) {
  animation-delay: 3.5s;
  z-index: 1;
}
.uang img:nth-child(3) {
  animation-delay: 1.5s;
  z-index: 1;
}
.uang img:nth-child(4) {
  animation-delay: 4s;
  z-index: 2;
}
.uang img:nth-child(5) {
  animation-delay: 0.5s;
  z-index: 2;
}
.uang img:nth-child(6) {
  animation-delay: 5s;
  z-index: 2;
}
.uang img:nth-child(7) {
  animation-delay: 6.5s;
  z-index: 2;
}

@keyframes uang {
  0% {
    transform: translatey(0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translatey(90vh);
    opacity: 0;
  }
}

.kontak {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #2b2b28;
  color: white;
  font-family: "Poppins", sans-serif;
}

.kontak > h3 {
  font-size: 3.5rem;
  font-weight: bold;
}
.kontak > p {
  font-size: 1.5rem;
}

.kontak-konten i, .kontak-konten h4 {
color: var(--yellow);
}

.kontak .kontak-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 8px 50px;
  justify-content: center;
}
.kontak-information {
  display: flex;
  gap: 20px;
  margin-bottom: 2.5rem;
  margin-top: 10px;
}
.kontak-information .contact_icon {
  font-size: 2rem;
}
.kontak-information .kontak-title {
  font-size: 1.7rem;
  font-weight: bold;
}
.kontak-information .kontak-subtitle {
  font-size: 1.5rem;
}
.kontak-form {
  margin: 10px 0;
}
.kontak-inputs {
  font-size: 1.5rem;
  color: white;
}
.kontak-inputs-flex {
  display: flex;
  gap: 2rem;
}
.kontak-content {
  display: flex;
  align-items: center;
  color: white;
  border: 1px solid var(--yellow);
  padding: 4px 10px;
  border-radius: 10px;
  margin-bottom: 2rem;
  background-color: #2b2b28;
  
}
.kontak-content > input {
  width: 100%;
  background-color: #2b2b28;
  
}
.kontak-content > textarea {
  width: 100%;
  background-color: #2b2b28;
}

.btn-form{
  width: 15rem;
  padding: 10px 17px;
  border: none;
  background-color: var(--yellow);
  color: white;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 700;
}
.btn-form:hover{
  cursor: pointer;
  transform:scale(1.1);
  transition: all 0.50s ease 0s;
}


@media screen and (max-width:400px) {
  .kontak > .kontak-container {
    grid-template-columns: 1fr;
    
  }
  .kontak-content {
    border: 1px solid white;
  }

  .home .container .wrapper{
    margin-top: 5rem;
    padding-bottom: 2rem;
  }
  .home .container .wrapper .content span {
    font-size: 2rem;
  }

  .home .container .wrapper .content h3 {
    font-size: 4rem;
  }
  .home .container .wrapper .content p {
    font-size: 1.4rem;
  }

  .home .container .wrapper .content a {
    color: #fff;
    font-size: 1.5rem;
    font-family: "Poppins", sans-serif;
    background: var(--blue);
    padding: 0.5rem 1.5rem;
    border-radius: 1.3rem;
    font-weight: 700;
  }

  .home .container .wrapper .image img {
    width: 50%;
    position: absolute;
    right: 0;
    bottom: .5rem;
  }

  .home .uang img{
    width: 10%;
  }
}



/* About Section */

.about {
  background-color: var(--brown);
}

.about h3 {
  text-align: center;
  color: white;
  font-size: 3.5rem;  
  font-family: "Montserrat", sans-serif;
  padding-top: 7rem;
  font-weight: 700;
}

.about h3 span {
color: var(--yellow);
}

.about .title a {
  color: var(--brown);
  font-family: 'poppins', sans-serif;
  font-size: 1.7rem;
  font-weight: bold;
  padding: .5rem 1rem;
  background-color: var(--yellow);
  border-radius: .6rem;
  margin: 0 auto !important;
}

.about .content {
  margin-top: -5rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 9rem;
  gap: 10rem;
  justify-content: space-evenly;
}

@media screen and (max-width:390px){
  .about h3 {
    font-size: 2.5rem;
  }
  .about .title {
    margin-top: -6rem;
  }

  .about  .content {
    flex-direction: column;
    gap: 2px;
  }
  .content_detail {
    margin: auto;
  }
}
@media screen and (min-width: 768px){
  .about .content {
    flex-direction: row;
  }
  .content {
    flex-wrap: wrap;
  }
  .content_detail {
    width: 10rem;
  }
}

.content_detail {
  width: 20rem;
  align-items: center;
  text-align: center;
  margin: auto;
}

.about .content h4 {
color: var(--gold);
font-size: 2.5rem;
font-family: "Montserrat", sans-serif;
font-weight: 700;
}

.about .content .content_detail {
  margin-top: 6rem;
 padding-bottom: 5rem;
  
}

.about .content .content_detail img {
  width: 40%;
  margin-bottom: 4rem;
  margin: auto;
  margin-bottom: 3rem;
}

.about .content p {
  color: rgb(201, 198, 198);
  font-size: 1.4rem;
  line-height: 21px ;
  font-family: "poppins", sans-serif;
}

.franchise-title {
  font-family: "Montserrat", sans-serif;
}

.franchise-subtitle {
    font-family: 'poppins', sans-serif;
} 

.product-title {
  font-family: 'poppins', sans-serif;
}

.product-description { 
  font-family: 'poppins', sans-serif;
}

.product-wa > .nomor { 
  font-family: 'poppins', sans-serif;
  display: block;
  transition: all 0.2s ease-in-out;
  margin-top: 2px; 
  margin-left: 4px;
}

.button-ykp {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  color: #fff;
  background: var(--yellow);
  font-weight: bold;
}

/* Footer Section */
.footer{
  background-color: var(--yellow);
  font-family: 'poppins', sans-serif;
  text-align: center;
}
.footer_links{
  display: flex;
  justify-content: center;
  gap: 3rem;
  margin-bottom: 1rem;
  color: white;
  font-size: 1.7rem;
}
.footer_links >li:hover{
  cursor: pointer;
  transform:scale(1.1);
  transition: all 0.50s ease 0s;
  color: black;
}
.footer .footer_socials{
  display: flex;
  justify-content: center;
  gap: 2.5rem;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: white;
}
.footer .footer_socials > a:hover{
  cursor: pointer;
  transform:scale(1.1);
  transition: all 0.50s ease 0s;
  color: grey;
}
.footer > p{
  color: white;
  font-size: 1rem;
}




/* .navbarTop {
  display: flex;
  align-items: center;
  padding: 20px;
}

nav {
  flex: 1;
  text-align: right;
}

nav ul {
  display: inline-block;
  list-style-type: none;
}

nav ul li {
  display: inline-block;
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #ccad50;
}

p {
  color: #555;
}

.container {
  max-width: 1300px;
  margin: auto;
  padding-left: 25;
  padding-right: 25px;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 45%;
  min-width: 300px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
} */
